.section-characters {
  background-image: url('/assets/section5a-intro-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1.5rem;

    .description {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      h1 {
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
        width: 40%;
        text-align: center;
        text-transform: uppercase;
      }

      img {
        border-radius: 8px;
      }
    }
  }

  .carroussel {
    width: 100%;
    position: relative;
    margin: 0 auto;

    .swiper {
      width: 90%;
      padding-bottom: 3rem;
      overflow: hidden;
    }

    .swiper-slide {
      height: 48rem;
      width: 100%;
      overflow: hidden;
      margin-bottom: 2.4rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
        transition: transform 0.4s ease, opacity 0.4s ease;
      }

      &:hover img {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }

  @media (max-width: 600px) {

    .container {
      overflow-x: hidden;
      
      .description {
        flex-direction: column;
        padding: 0 2rem;
        gap: 2rem;

        h1 {
          font-size: 2rem !important;
          width: 100% !important;
          padding: 0 2rem;
        }
      }

      .carroussel {
        padding: 0 2rem;
        width: 100%;
        position: relative;
        margin: 0 auto;

        .swiper {
          overflow: hidden;
          width: 100%;
        }
      }
    }
  }
}
